
@font-face: {font-family: Lord; src: LittleLordFontLeroyNF.ttf;}

body {
	/*background-image: url(http://commondatastorage.googleapis.com/static.panoramio.com/photos/original/64926931.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
	background-attachment: fixed;*/
	background: black;
}
.logo h1, p{
	padding 0 2px;
	margin: 0;
}

.logo h1{
	font-size: 60px;
}

.logo {
	position: fixed;
	left: -50px;
	top:30px;
	padding:0 100px 0 60px;
	border: 4px solid #3399FF;
	background:#77aaFF;
	border-radius: 75px;
	box-shadow: 4px 4px 4px black;
	font-family: cursive;
	font-style: italic;
}

.bar {
	position:fixed;
	left: -25;
	top: 170px;
	background:#77aaFF;
	border: 4px solid #3399FF;
	padding-right: 20px;
	border-radius: 50px;
	box-shadow: 4px 4px 4px black;
}
.bar li {
	display:inline;
	padding-left: 40px;
}

.links {
	position: fixed;
	left: -60px;
	top: 300;
	padding:0 10px 0 20px;
	height: 400px;
	background: #77aaFF;
	border:4px solid #3399FF;
	border-radius: 40px;

}

.links li {
	text-decoration: italic;
	list-style: none;
	margin: 10px 5px;
	float: left;
	clear: both;
}


.art {
	width:40em;
	height:350px;
	background: #77aaFF;
	border: 4px solid #3399FF;
	border-radius: 10px;
	/*opacity: 0.82;*/
	margin:20px;
	clear: both;
	box-shadow: -4px 4px 10px red;

}

.allt {
	position:absolute;
	right: 0;
	width:65%;
}
.allt .art:nth-child(odd) {
	float: right;
}

.allt .art:nth-child(even) {
	float: left;
}




.allt .art:first-child {
	float: right;
	margin-right: 15em;
	width:40em;
	height: 700px;
	margin-top:270px;
}